In [1]:
import pandas as pd
import datetime as dt

In [2]:
df = pd.read_csv('Date Format Data.csv')

In [3]:
df.head()

            Created         Product  Downloads
0  01/08/2017 12:02  Something Fake          5
1  01/09/2017 12:19  Something Fake          8
2  01/11/2017 10:42  Something Fake         10
3  01/12/2016 01:36  Something Fake          9
4  01/12/2017 05:50  Something Fake          7

In [4]:
df['Cleaned Date'] = pd.to_datetime(df['Created'],format="%d/%m/%Y %H:%M").dt.date

In [5]:
df.head()

            Created         Product  Downloads Cleaned Date
0  01/08/2017 12:02  Something Fake          5   2017-08-01
1  01/09/2017 12:19  Something Fake          8   2017-09-01
2  01/11/2017 10:42  Something Fake         10   2017-11-01
3  01/12/2016 01:36  Something Fake          9   2016-12-01
4  01/12/2017 05:50  Something Fake          7   2017-12-01